*.log
node_modules/
dist
\.idea/
coverage/
test-results.xml

.vscode/
/.nyc_output/

.eslintcache

.husky

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
junit.xml
